#intro {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 10px;
    background-image: url(../../images/background.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    background-color:lightgrey;
    color: blue;
    font-style: bolder;
    font-family: 'Lucida Sans';
    height: 400px;
    padding: 155px;
    z-index: 1;
}